[Unit]
Description=Machine Agent service
After=network.target

[Service]
ExecStart=ma_executable
Type=forking
PIDFile=path_to_pidfile
User=ma_user
Group=ma_group

[Install]
WantedBy=default.target